/*Start Header*/

body {
    margin: 0
}

.header {
    background-color: #1F2937;
    display: flex;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    margin: 0px;
    border: solid, 0;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: left;
    color: #f9faf8;
    font: 24px;
    font-weight: bolder;

}

.menu {
    display: flex;
    column-gap: 30px;
    color: #E5E7EB;
    }


/*Start Hero*/

.hero {
    background-color: #1F2937;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    column-gap: 30px;
    
}

.button {
    background-color: #3882F6;
    border: 0;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 48px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;

}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    
}

.right {
    display: flex;
    align-items: center;
    
}
.left {
    display: flex;
    align-items: left;
    flex-direction: column;
    row-gap: 15px;
}

/*Start List*/

.list {
    padding-top: 50px;
    padding-bottom: 100px;
}

.cara {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 200px;
    padding-right: 200px;
    ;
}

.list-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

.list-image {
    border: 2px solid blue;
    border-radius: 10px;
    width: 150px;
    height: auto;
}

.box-1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.box-2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.box-3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.box-4{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.cara .subtext {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: grey;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/*Quote Section*/

.quote-section {
    display: flex;
    background-color: #E5E7EB;
    padding: 100px;
    flex-direction: column;
}

.quote {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    padding-left: 50px;
    padding-right: 50px;
}

.quote-author {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    justify-content: flex-end;
    font-size: 30px;
}