.header {
    background-color: #1F2937;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.button {
    background-color: #3882F6;
    border: 0;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#title {
    font-size: 48px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;

}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    
}

.right {
    display: flex;
    align-items: center;
}

