.header {
    background-color: #1F2937;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    
}

.button {
    background-color: #3882F6;
    border: 0;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.intro {
    font-size: 48px;
    font-weight: 900;
    
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    
}

.hero-image {
   align-self: flex-end;
}